*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Stilizzazione header */

header{
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
}

.row-header {
    display: flex;
    justify-content: space-between;
}

.col-header1 , .col-header2 {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 15px;
    text-align: center;
}

li img {
    height: 20px;
}

.col-header2 a {
    text-decoration: none;
}

.login {
    color: black;
}

.inizia {
    padding: 5px 15px;
}

.bg-blue {
    background-color: rgba(0,97,255,255);
    color: white;
}

/* stilizzazione jumbo */

.contenitore-jumbo {
    background-color: rgba(180,208,231,255);
}

.sotto-contenitore-jumbo, .sotto-contenitore-footer {
    max-width: 65%;
    margin: 0 auto;
}

.row-jumbo1 , .row-jumbo2 {
    display: flex;
}

.col-jumbo2 {
    width: 30%;
}

.col-jumbo2 a{
    color: black;
}

.col-jumbo3 {
    width: 70%;
    position: relative;
}

.col-jumbo1 h1{
    margin-top: 85px;
    margin-bottom: 40px;
    font-size: 70px;
    font-weight: 700;
}

.col-jumbo2 button{
    margin: 30px 0;
    padding: 10px;
    border: none;
    font-size: 15px;
}

.col-jumbo2 i {
    font-size: 40px;
    margin: 55px 0 15px;
}

.col-jumbo3 img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* piani di abbonamento */

.contenitore-piani-abbonamento, .contenitore-55 {
    width: 55%;
    margin: 100px auto;
}

.contenitore-piani-abbonamento h3{
    font-size: 30px;
}

.contenitore-piani-abbonamento .radio{
    display: inline-block;
    margin: 30px 30px 30px 0;
}

.row-abbonamento, .row-partner, .row-operazioni {
    display: flex;
    justify-content: space-between;
}

.col30 {
    width: 30%;
    border: 1px solid lightgray;
}

.thead{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 5px;
}

.col30 i{
    padding: 5px;
}

.corpo-abbonamento{
    width: 80%;
    margin: 20px auto;
}

.tipo-abbonamento {
    margin-bottom: 40px;
}

.tipo-abbonamento h4, .col-partner2 h4 {
    font-size: 20px;
}

.tipo-abbonamento .durata {
    color: gray;
}

.tipo-abbonamento div{
    display: flex;
    margin: 15px 0;
}

.col30 button {
    width: 95%;
    margin: 0 2.5%;
    padding: 10px;
    border: none;
    font-size: 15px;
}

.acquista-ora{
    margin: 30px 0;
}

.fa-check {
    color: green;
}

hr {
    color: lightgray;
    width: 20%;
}

.tipo-abbonamento h5 {
    margin: 30px 0;
}

.thead2 {
    width: 100%;
    text-align: center;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 5px;
    margin: 40px 0 0 0;
}

.thead2 i {
    padding: 5px;
}

.row-abbonamento2{
    display: flex;
    flex-direction: column;
}

.col100 {
    width: 100%;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}

.col100 button {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 15px;
}

.col100-sx {
    width: 75%;
}

.col100-dx {
    width: 25%;
    text-align: center;
}

.col100-sx, .col100-dx {
    padding: 20px;
}

/* creazione sezione partner dropbox */

.col-partner1 {
    width: 60%;
}

.col-partner1 img {
    height: 100%;
    max-width: 100%;
}

.col-partner2 {
    width: 40%;
    padding: 40px 40px;
}

.col-partner2 p{
    margin: 20px 0 40px;
}

.btn-grigio{
    text-decoration: none;
    color: black;
    border: 1px solid grey;
    padding: 10px;
}

/* sezione operazioni dropbox */

.col33 {
    width: 30%;
}

.col33 img {
    width: 100%;
}

.col33 h4 {
    margin: 20px 0;
}

.row-operazioni {
    margin-top: 40px;
}

div .link{
    margin-top:30px ;
}

.link a, .acquista-ora a{
    color: rgba(0,97,255,255) ;
}

.contenitore-55 h2{
    margin-top: 100px;
    font-size: 35px;
}

/* contenitore loghi colorati */

.row-general, .row-interna {
    width: 100%;
    display: flex;
}

.col33-2 {
    width: calc(100%/3);
    background-color: rgba(245,245,245,255);
}

.col-interna {
    width: 50%;
    height: 250px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-interna img {
    width:50%;
    filter: invert(100%);
}

.col-1 {
    background-color: rgba(162,211,155,255);
    border: 10px solid rgba(209,233,205,255);
}

.col-2 {
    background-color: rgba(97,8,43,255);
}

.col-3 {
    background-color: rgba(0,147,206,255);
}

.col-4 {
    background-color: rgba(255,28,28,255);
}

.col-centrale {
    width: 80%;
    margin: 30px auto;
}

.col-centrale img {
    width: 50%;
}

.col-centrale hr, .col-centrale p {
    margin: 30px 0;
}

.col-5 {
    background-color: rgba(213,0,31,255);
  
}

.col-6 {
    background-color: rgba(180,208,231,255);
}

.col-7 {
    background-color: rgba(13,36,129,255);
}

.col-8 {
    background-color: rgba(255,216,48,255);
}

/* creazione footer loghi colorati */

.bg-azzurro {
    background-color: rgba(180,208,231,255);
    height: 200px;
}

.contenitore-55-2 {
    width: 55%;
    margin: 0 auto;
}

.row-ft {
    display: flex;
    justify-content: space-between;
}

.col-ft1 {
    width: 40%;
    margin: 50px 0;
}

.col-ft2 {
    width: 30%;
    margin: 60px 0;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

.col-ft1 h2{
    font-size: 30px;
    color: rgba(100,11,43,255);
}

.col-ft2 a{
    text-decoration: none;
    background-color: white;
    color: rgba(0,97,255,255);
    font-size: 15px;
    padding: 10px;
}

/* creazione sezione FAQ */

.contenitore-55 h1 {
    padding-bottom: 40px;
    border-bottom: 1px solid gray;
}

.accordion-wrapper input {
    display: none;
}

.accordion {
    display: block;    
    padding: 30px 0;
    border-bottom:1px solid gray;
    font-weight: 600;
    margin: 0 0 1px 0;
    cursor: pointer;
    transition: ease 0.5s;
  }

.accordion:hover {
    background: rgb(206, 200, 200);
}

.accordion:active .panel{
    z-index: 1;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}

.accordion i{
    float: right;
    padding: 0 20px;
}

/* creazione footer */

.contenitore-footer{
    background-color: black;
    color: white;
}

.row-footer1 {
    display: flex;
    justify-content: space-between;
}

.col-footer {
    margin: 50px 0;
    width: 17%;
    display: flex;
    flex-direction: column;
}

.col-footer ul{
    list-style-type: none;
}

.col-footer li{
    display: block;
    margin: 15px 0;
    text-align: left;
}

.col-footer a{
    text-decoration: none;
    color: white;
}

.col-footer h3 {
    margin-bottom: 20px;
}

