*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Stilizzazione header */

header{
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
}

.row-header {
    display: flex;
    justify-content: space-between;
}

.col-header1 , .col-header2 {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 15px;
    text-align: center;
}

li img {
    height: 20px;
}

a {
    text-decoration: none;
}

.login {
    color: black;
}

.inizia {
    padding: 5px 15px;
}

.bg-blue {
    background-color: rgba(0,97,255,255);
    color: white;
}

/* stilizzazione jumbo */

.contenitore-jumbo {
    background-color: rgba(180,208,231,255);
}

.sotto-contenitore-jumbo {
    width: 65%;
    margin: 0 auto;
}

.row-jumbo1 , .row-jumbo2 {
    display: flex;
}

.col-jumbo2 {
    width: 30%;
}

.col-jumbo3 {
    width: 70%;
    position: relative;
}

.col-jumbo1 h1{
    margin-top: 85px;
    margin-bottom: 40px;
    font-size: 70px;
    font-weight: 700;
}

.col-jumbo2 button {
    margin: 30px 0;
    padding: 10px;
    border: none;
    font-size: 15px;
}

.col-jumbo2 i {
    font-size: 40px;
    margin: 55px 0 15px;
}

.col-jumbo3 img {
    width: 100%;
    position: absolute;
}